@import "fibonacci-styles";

$color-champagne-pink: #ffe6d9;
$color-apricot: #ffcdb2;
$color-melon: #ffb4a2;
$color-salmon-pink: #e5989b;
$color-old-rose: #b5838d;
$color-dim-gray: #6d6875;
$color-outer-space: #474747;
$color-jet: #323232;
$color-eerie-black: #1c1c1c;
